$main-background: #1E1E1E;


//inputs
$input-placeholder: rgba(73, 37, 50, 0.70);
$input-text: black;
$input-background: #EADDFF;


//buttons
$btn-text: #EADDFF;
$btn-background: #6750A4;


//selects

